.cli-window{
    height: 100%;
    overflow: auto;
    background-color: rgb(12, 12, 12);
    padding-bottom: 2rem;
    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
    
}