.note-window {
  font-family: "Courier New", monospace;
  white-space: pre-wrap; 
  font-size: 1.1rem;
  line-height: 1.6;
  padding-inline: 1rem;
  // padding-block: 1rem;
  height: 100%;
  overflow-y: auto;
  // // padding-bottom: 1rem;

  pre{
    background-color: transparent !important;
  }
    

}

