.resume-window {
  height: 100%;
  overflow: auto;

  embed {
    width: 100%;
    height: 100%;
    border-radius: 6px; // subtle rounding
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); // subtle depth
  }
}
