.window{
    height: 55vh;
    width: 30vw;

    background-color: rgb(10, 10, 10);
    border-radius: 0.75rem;
    overflow: hidden;

    color: rgb(198, 195, 195);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif0;
    font-weight: 500;

    .nav{
        padding-inline: 0.65rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.237);

        display: flex;
        gap: 1.5rem;
        align-items: center;

        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
                height: 12px;
                width: 12px;
                background-color: white;
                border-radius: 50%;
            }
            .red{
                background-color: rgb(236, 46, 46);
            }
            .yellow{
                background-color: rgb(230, 230, 46);
            }
            .green{
                background-color: rgb(12, 146, 12);
            }
        }
        
    }
    .main-content{
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }
}