.dock {
  display: flex;
  gap: 0.35rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(63, 63, 63, 0.261);
  padding-inline: 0.8rem; // x axis pe padding
  padding-block: 0.7rem; // y axis pe padding
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);
  .icon {
    padding: 0.35em;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
    aspect-ratio: 1/1;
    

    img {
      width: 2rem;
      filter: brightness(0) invert(1); // makes SVG white
      cursor: pointer;
    }
  }
  .github,
  .cli {
    background-color: black;
  }
  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }
  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }
  .calender,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
  }

  .link {
    background: linear-gradient(
      to bottom,
      rgb(163, 97, 170),
      rgb(142, 33, 154)
    );
  }

  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }
  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.1) translateY(-10%);
  }
}
