*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
  height: 100vh;     /* not min-height */
  width: 100%;
  position: relative;  /* VERY IMPORTANT */
  
  background-image: url("/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  .desktop {
    position: absolute;
    top: 35px;   /* below navbar */
    left: 0;
    right: 0;
    bottom: 80px;  /* leave space for dock if needed */
  }
}

