*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;

}

main {
  min-height: 100vh; // viewport height
  width: 100%;
  background-image: url("/wallpaper1.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

body{
    background-color: black;
    color: white;

}
