.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 50%;
  border-right: 1px solid #ddd;

  .profile-img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  h2 {
    // margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
   
    text-align: center;
  }

  .tagline {
    font-size: 0.85rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .about {
    font-size: 0.9rem;
    text-align: center;
    color: #ede9e9bb;
    line-height: 1.4;
    padding: 0 1rem; // for small screens
  }


   @media (max-width: 768px) {
    width: 100%;
    border-right: none;
    border-bottom: 0.1rem solid #ddd;
    padding: 1rem 0;

    .profile-img {
      width: 10rem;
      height: 10rem;
      margin-bottom: 0.8rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    .tagline {
      font-size: 0.9rem;
    }

    .about {
      font-size: 0.85rem;
    }
  }
}




