.repo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  max-height: 90%;
  overflow-y: auto; // vertical scroll
  scrollbar-width: thin; // Firefox
  scrollbar-color: #6a6161 #171414;
}

.repo-item {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border: 1px solid #877a7a;
  border-radius: 8px;
  background-color: #251e1e;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;

  //   &:hover {
  //     background-color: #c3b2b2;
  //     box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  //   }

  h3 {
    margin: 0 0 4px 0;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    margin: 0 0 6px 0;
    font-size: 13px;
    color: #ddd5d5;
  }

  .public-badge {
    font-size: 10px;
    color: #2c2828;
    background: #eee;
    padding: 2px 6px;
    border-radius: 4px;
    display: inline-block;
    width: fit-content;
  }
}
